@using P.Pager.Mvc.Core
@using P.Pager
@model IEnumerable<P.Pager.Mvc.Core.Example.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
            </tr>
        }
    </tbody>

</table>

@*@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { PagesToDisplay = 7, EntriesTextFormat = "Displaying {0} to {1} of {2} items.", PagerTextFormat = "Showing {0} of {1} pages.", ClassToUl = "pagination justify-content-center", TextToPreviousPage = "<< Previous Page", TextToNextPage = "Next Page >>", PageClass = "page-link page-link" })*@

<h3>Pager Configurations</h3>
<h6>Default Pager Control</h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }))

<h6>Minimal Pager</h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { HasIndividualPages = false })

<h6>Minimal Pager with Custom Pager Text (Page Count Text) <small>Default <i>Page 1 of 30</i>(<i>Telugu Translation Example.</i>)</small></h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { HasIndividualPages = false, HasPagerText = true, PagerTextFormat = "{1} లో {0} వ  పేజీ " })

<h6>Minimal Pager with custom entries text (Item Count Text) <small>Default <i>Showing from 1 to 2 of 106 entries.</i>(<i>Telugu Translation Example.</i>)</small></h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { HasIndividualPages = false, HasEntriesText = true, EntriesTextFormat = "{2} ఎంట్రీలలో {0} నుండి {1} వరకు చూపుతోంది." })

<h6>Shows custom page numbers, let say 10 pages.</h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { PagesToDisplay = 10 })

<h6>With Custom Page numbers</h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { TextToIndividualPages = "Page-{0}" })

<h6>Custom Wording. (<i>Telugu Translation Example.</i>)</h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { TextToPreviousPage = "ముందు పేజి", TextToNextPage = "తరువాతి పేజీ", TextToFirstPage = "మొదటి పేజీ", TextToLastPage = "చివరి పేజీ" })

<h6>Custom options.</h6>
@Html.Pager((IPager)Model, page => Url.Action("Index", new { page }), new PagerOptions { TextToPreviousPage = "last-page", TextToNextPage = "next-page", TextToFirstPage = "first-page", TextToLastPage = "last-page", ClassToUl = "list-inline", ClassToLi = "list-inline-item", PageClass = "nopageclass", ClassToActiveLi = "niloclass", TextForDelimiter = " | " })
